@import url("/css/dicefont/dicefont.css");

figcaption > blockquote {
    margin: 0;
    text-align: right;
}

.w-100 {
    width: 100%;
}
.w-80 {
    width: 80%;
}
.w-66 {
    width: 66.66%;
}

.maxw-600px {
    max-width: 600px;
}

.m-auto {
    margin: auto;
}
.my-2 {
    margin-top: 8px;
    margin-bottom: 8px;
}
.my-3 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.p-2 {
    padding: 8px;
}

.center {
    text-align: center;
}
.right {
    text-align: right;
}

.baseline {
    vertical-align: baseline;
}

.floating {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.app-header-image-container img {
    @extend .floating;
}

.caption {
    font-style: italic;
    font-size: 0.85rem;
    line-height: 135%;
}

.spoiler > span {
    box-sizing: border-box;
    background-color: $darkest-color;
    color: $darkest-color;
    cursor: pointer;
    border-radius: 3px;
    transition: color 0.5s, background-color 0.5s;
}

.spoiler > input {
    // Hide input, leave it still focusable via keyboard
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.spoiler > input:focus-visible + span {
    border: 1px dashed $light-color;
}

.spoiler > input:checked + span {
    color: $light-color;
    background-color: transparent;
    cursor: default;
}

.dice {
    span {
        font-size: 24px;
        vertical-align: middle;
    }
    i {
        font-size: 36px;
        vertical-align: middle;
    }
}

.quotation {
    color: darken($color: $light-color, $amount: 10);
    padding: 8px 16px;
    font-style: italic;
    background-color: $darkest-color;
    border-left: solid 3px $light-color;

    .author {
        display: block;
        text-align: right;
    }
}

.row {
    display: flex;
}

.col-half {
    box-sizing: border-box;
    width: 50%;
    margin: 0;
}