// Simple, shorthand classes
.w-100 {
    width: 100%;
}
.w-66 {
    width: 66.66%;
}

.maxw-600px {
    max-width: 600px;
}

.m-auto {
    margin: auto;
}

.center {
    text-align: center;
}

.floating {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.app-header-image-container img {
    @extend .floating;
}

.caption {
    font-style: italic;
    font-size: 0.85rem;
}