{{ $juliaCode := .Inner }}
{{ if (.Get "file")}}
    {{ $juliaCode = readFile (path.Join .Page.File.Dir (.Get "file")) }}
{{ end }}

{{ (printf "```julia %s```" $juliaCode) | markdownify }}

{{ $result := julia.Eval $juliaCode }}
{{ $resultType := $result.GetType }}

{{ if eq "Plot" $resultType }}

    {{/* Use a plot hash as it's filename, so we can check if it has changed and save it */}}
    {{ $_ := julia.Eval `using MD5; __plot_fname(p) = bytes2hex(md5(string(p.attr) * string(p.series_list))) * ".png"` }}
    {{ $fname := (julia.Call "__plot_fname" $result).GetValue }}

    {{ $tmp := (path.Join "/tmp" $fname) }}
    {{ $_ := julia.Call "savefig" $result $tmp }}

    {{ $path := path.Join "content/" (.Page.File.Dir) "images/plots" $fname }}
    {{ $res := fromFile $path $tmp }}

    {{ partial "elements/figure.html" (dict "fpath" $res.Permalink "type" "image" "caption" (.Get "caption")) }}
{{ else }}
    <pre>{{ (julia.Call "string" $result).GetValue }}</pre>
    <span class="caption">{{ .Get "caption" }}</span>
{{ end }}